# Profile
SPRING_PROFILES_ACTIVE=supabase

# Mode selection: direct | pooler
SUPABASE_MODE=direct

# Common
SUPABASE_PROJECT_REF=aybsdrynbbnhwnxfhafp
SUPABASE_DB_NAME=postgres
SUPABASE_SSLMODE=require
SUPABASE_DB_PASSWORD=CHANGE_ME

# Direct (usually IPv6)
SUPABASE_DIRECT_HOST=db.aybsdrynbbnhwnxfhafp.supabase.co
SUPABASE_DIRECT_PORT=5432
SUPABASE_DIRECT_USER=postgres

# Pooler (usually IPv4)
# SUPABASE_MODE=pooler
# SUPABASE_REGION=us-east-1
# SUPABASE_POOLER_HOST=aws-0-us-east-1.pooler.supabase.com
# SUPABASE_POOLER_PORT=5432
# SUPABASE_POOLER_USER=postgres.aybsdrynbbnhwnxfhafp
